streamlit

pymilvus[milvus_lite]==2.4.4
openai

FlagEmbedding==1.2.11
peft==0.10.0

transformers==4.38.2
sentence-transformers==2.6.1
torch==2.2.2

setuptools==70.0.0
marshmallow==3.21.1
numpy==1.26.4